nav {
    @include fixed(top 0 left -320px);
    @include size(320px, 100%);
    @include material-shadow(1);

    overflow: hidden;
    padding: 80px 0 0;
    background-color: material-color("grey", "50");

    transition: transform $animation-delay ease;

    & .icon {
        margin: 0 12px 8px;
        transform: translate3d(320px - 64px, 0, 0);
        transition: transform $animation-delay ease, border-radius 0s linear $animation-delay, width 0s linear $animation-delay;
        overflow: hidden;

        &.selected::before {
            color: color-primary();
        }
    }

    .bottom {
        @include absolute(bottom 4px left 0 right 0);
        margin-top: auto;
    }

    .logged & {
        transform: translate3d(64px, 0, 0);
    }

    .expanded & {
        padding: 76px 0 0;
        transform: translate3d(320px, 0, 0);

        & button.icon {
            margin: 0;
            width: 320px;
            transform: translate3d(0, 0, 0);
            transition-delay: 0s;
        }

        & .bottom {
            bottom: 8px;
        }
    }
}

.hdivider {
    width: 100%;
    margin: -4px 0 4px;
    border-bottom: 1px solid material-color("grey", "300");

    .expanded & {
        margin: 0;
    }
}
