.login {
    transition: all $animation-delay ease, visibility 0s linear 0s;

    @include absolute(top 50% left 50%);
    width: 320px;
    margin: 0 auto;
    padding: 0 2em 1em 2em;
    background: material-color('grey', '50');
    transform: translate3d(-50%, -50%, 0);
    border-radius: 2px;
    @include material-shadow(1);

    z-index: $form-zindex;

    .logged & {
        transform: translate3d(-50%, 1200px, 0);
        transition: all ($animation-delay * 2) ease, visibility 0s linear $animation-delay;
        visibility: hidden;
        opacity: 0;
    }

    button{
        margin: 1.5em 0 0 auto;
    }
}
